<h5>Paso 5: Resumen</h5>
<div class="py-3">
    <p>Resumen del contrato...</p>
</div>
<div class="d-flex justify-content-between">
    <button type="button" class="btn btn-secondary" onclick="prevStep()">Anterior</button>
    <button type="button" class="btn btn-primary" onclick="nextStep()">Siguiente</button>
</div>