@using ContratosYReembolsos.Models.Entities.Inventory
@model ProductCategory

<div class="modal fade" id="modalCategoryContainer" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content border-0 shadow">
            <form id="formCategorySave">
                <div class="modal-header bg-dark text-white border-0">
                    <h5 class="modal-title fw-bold small">@(Model.Id == 0 ? "Nueva Categoría" : "Editar Categoría")</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="Id" />

                    <div class="mb-3">
                        <label class="form-label small fw-bold">Nombre de Categoría</label>
                        <input asp-for="Name" class="form-control form-control-sm shadow-none" required placeholder="Ej: Ataúdes" />
                    </div>

                    <div class="form-check form-switch p-0 ms-4">
                        <input class="form-check-input" type="checkbox" role="switch" asp-for="ShowInContracts" id="switchShowInContracts">
                        <label class="form-check-label small fw-bold ms-2" for="switchShowInContracts">
                            Mostrar en Contratos
                        </label>
                        <div class="form-text x-small">Habilita esta línea de negocio para ventas.</div>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="submit" class="btn btn-primary btn-sm w-100 py-2 fw-bold shadow-sm">
                        <i class="fa-solid fa-save me-2"></i>Guardar Categoría
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>