/* Layout Base */
html, body {
    height: 100%;
    margin: 0;
    background-color: #f8f9fa;
}

.main-wrapper {
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 240px;
    background: #ffffff;
    border-right: 1px solid #e9ecef;
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    transition: all 0.3s;
    flex-shrink: 0; /* Evita que el sidebar se achique */
}

.sidebar-header {
    display: flex;
    align-items: center;
    padding-left: 8px;
}

.logo-box {
    width: 32px;
    height: 32px;
    background: #e6f4ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 18px;
}

/* Enlaces */
.nav-link {
    color: #495057;
    font-size: 14px;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

    .nav-link:hover, .nav-link.active {
        background: #f0f7ff;
        color: #008dff;
        font-weight: 500;
    }

    .nav-link i {
        width: 20px;
        font-size: 16px;
    }

/* Submenú */
.sub-menu {
    padding-left: 36px;
    margin-top: 4px;
}

.sub-link {
    color: #6c757d;
    font-size: 13px;
    text-decoration: none;
    padding: 6px 0;
    display: block;
}

    .sub-link:hover {
        color: #008dff;
    }

/* Avatar Usuario */
.avatar {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Área de contenido */
.content-area {
    height: 100vh;
    overflow-y: auto;
    background-color: #f8f9fa;
}
